{% extends "themes.html" %}

{% block page_title %}
  Json Data Generator
{% endblock page_title %}

{% block contents %}
  <!-- form section -->
  <form action="{{ url_for('scraper.generate_json') }}" method="POST">
    <div class="form-group">
      <label for="exampleInputStartList">Start Prefix</label>
      <input  name="start_list" type="number" class="form-control" id="exampleInputStartList" aria-describedby="startHelp" placeholder="where the list will be generated from ">
      <small id="keywordHelp" class="form-text text-muted">Generated Data To Json start from</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEndList">End Prefix</label>
      <input type="number" name="end_list" type="text" class="form-control" id="exampleInputEndList" aria-describedby="endHelp" placeholder="Enter the suffix for the list to be generated">
      <small id="emailHelp" class="form-text text-muted">Generated Data To Json End Here</small>
    </div>
    <button type="submit" class="btn btn-primary">Generate Data</button>
  </form>
  <!-- endform section -->


  <!-- table section to display data json file -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No. </th>
        <th scope="col">Json Data</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{ file }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- end section to display data json file -->
  
{% endblock contents %}