{% extends "themes.html" %}

{% block page_title %}
  
{% endblock page_title %}

{% block contents %}

<!-- form section -->
<form action="{{ url_for('scraper.get_url') }}" method="POST">
  <div class="form-group">
    <label for="exampleInputKeyword">Keyword</label>
    <input name="keyword" type="text" class="form-control" id="exampleInputKeyword" aria-describedby="keywordHelp" placeholder="Enter Keyword">
    <small id="keywordHelp" class="form-text text-muted">What are you looking for here, ex: restaurant, hotel, etc</small>
  </div>
  <div class="form-group">
    <label for="exampleInputLocation">Location</label>
    <input name="location" type="text" class="form-control" id="exampleInputLocation" aria-describedby="keywordHelp" placeholder="Enter Location">
    <small id="emailHelp" class="form-text text-muted">enter the location you want</small>
  </div>
  <button type="submit" class="btn btn-primary">Search Data</button>
</form>
<!-- end form section -->

  <div class="container" style="margin-top: 30px;">
    <h4>URL Found: {{url_count}}</h4>
      <table class="table">
          <thead>
              <tr>
                <th scope="col">No. </th>
                <th scope="col">URL List</th>
              </tr>
          </thead>
          <tbody>
            {% for data in datas %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{data}}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
{% endblock contents %}