{% extends "themes.html" %}

{% block page_title %}
  View Scraper Result
{% endblock page_title %}

{% block contents %}
  <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Postal Code</th>
            <th scope="col">Telephone Number</th>
            <th scope="col">Website</th>
          </tr>
        </thead>
        <tbody>
        {% for record in records %}
          <tr>
              <td>{{ loop.index }}</td>
              <td>{{ record.title }}</td>
              <td>{{ record.address }}</td>
              <td>{{ record.city }}</td>
              <td>{{ record.postal_code }}</td>
              <td>{{ record.telp }}</td>
              <td>{{ record.website }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
      <a href="{{ url_for('scraper.download_csv') }}"><button class="btn btn-success">Export CSV</button></a>
      <a class="btn btn-success" href="https://docs.google.com/spreadsheets/d/12ImQ4M4IGYLaQFZY8gRDQcF7Lb_dB99VwsWbv3qTUhQ/edit#gid=0">Open in Google Drive</a>
  </div>
{% endblock contents %}