{% extends "theme.html" %}

{% block page_title %}
  Home Page Yell Scraper
{% endblock page_title %}

{% block contents %}
    <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="carousel-background"><img src="{{ url_for('static', filename='assets/img/slide/slide-1.jpg') }}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Yell Scraper</span></h2>
                <p class="animate__animated animate__fadeInUp">Scrape Data from yell for your company free and easily</p>
                <a href="{{ url_for('home.index') }}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Try This</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item">
            <div class="carousel-background"><img src="{{ url_for('static', filename='assets/img/slide/slide-2.jpg') }}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">View Our Service </h2>
                <p class="animate__animated animate__fadeInUp">just scroll down</p>
                <a href="#" class="btn-get-started animate__animated animate__fadeInUp scrollto">Or Click Here</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item">
            <div class="carousel-background"><img src="{{ url_for('static', filename='assets/img/slide/slide-3.jpg') }}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">What is Yellowpages or yell.com</h2>
                <p class="animate__animated animate__fadeInUp">yellow pages are any telephone directory of businesses, organized by category rather than alphabetically by business name, and in which advertising is sold. ... The traditional term "yellow pages" is now also applied to online directories of businesses.</p>
                <a href="https://yell.com" target="blank" class="btn-get-started animate__animated animate__fadeInUp scrollto">Visit Site</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-thin-double-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-thin-double-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About Our Service</h2>
        <p>Our Service can Help You to Scrape for your company</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <img src="{{ url_for('static', filename='assets/img/about.jpg') }}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3> This App Build With<strong> python programming language</strong></h3>
          <p class="font-italic">
            our service can you try for free forever
          </p>
          <p>
            The original source to find and connect with local plumbers, handymen, mechanics, attorneys, dentists, and more.
          </p>

          <div class="skills-content">

            <div class="progress">
              <span class="skill">HTML <i class="val">20%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">20%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Flask <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </section>

  <!-- end about us -->

<!-- ======= Our Services Section ======= -->
   <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Our Services</h2>
        <p>Try Our Service is free</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="{{ url_for('scraper.get_url') }}">URL Generator</a></h4>
            <p class="description">can Get Url just Click One Button</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="{{ url_for('scraper.generate_json') }}">Generating All Detail from site</a></h4>
            <p class="description">Can Generating Data for your company</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Our Services Section -->

{% endblock contents %}